body {
  font-family: Georgia;
}

h2 {
  text-align: center;
}

div#detail {
  height: 30px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 15px;
}

table {
  margin: auto;
}

td {
  text-align: center;
}

button {
  font-family: inherit;
  margin: 5px;
  padding: 5px 30px;
  font-size: 1em;
  font-weight: bold;
}

.displayWidth {
  width: 480px;
}