/* For file : A3.php */
/* hard reload by pressing Ctrl + Shift + R in Chrome */
body {
  font-family: Georgia;
}

input[type="text"], input[type="number"], input[type="radio"] {
  margin-bottom: 10px;
  margin-left: 5px;
}

input[type="text"] {
  width: 150px;
}

input[type="number"] {
  width: 70px;
}

input[type="radio"]:nth-child(2) {
  margin-left: 15px;
}

input[type="submit"] {
  /* margin-top: 10px; */
}

form {
  margin: 0px;
}